.hero {
  background-image: url("https://kamleshyadav.com/templatemonster/fast-food/wp-content/uploads/2021/06/New-Project.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 60vh;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.286);
  background-blend-mode: darken;
}

h1 {
  color: var(--white);
  font-size: 3rem;
}

.btn-main {
  background-color: black;
  color: var(--white);
}

.btn-main:hover {
  background-color: var(--main-color);
  color: black;
}

/* Tablets (entre 768px y 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 2rem;
  }
}
/* Responsive Movil */
@media (max-width: 767px) {
  h1 {
    font-size: 2rem;
    text-align: center;
  }
}
